<h1 class="text-light">Students<span class="mif-drive-eta place-right"></span></h1>
                    <hr class="thin bg-grayLighter">
                    <button class="button primary" onclick="showMetroDialog('#dialog')"><span class="mif-plus"></span> Create...</button>
                    <hr class="thin bg-grayLighter">
                    <!--<table class="dataTable border bordered" data-role="datatable" data-auto-width="false">-->
                    <table class=" datatable border bordered" data-role="datatable" data-auto-width="false" *ngIf="students" >
                        <thead>
                        <tr>
                            
                         
                            <td>FIRST NAME</td>
                            <td>LAST NAME</td>
                            <td>EMAIL</td>
                            <td style="width: 20px">PHONE</td>
                            <td style="width: 20px">ACTIVE</td>
                           <!-- <td style="width: 20px">REGISTERED</td> -->
                            <td>MANAGE</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let student of students">
                        
<td>
<span [hidden]="student.isEditMode">{{student.firstName}} - {{student.isEditMode}}</span>
<input type="text" [(ngModel)]="student.firstName" [hidden]="!student.isEditMode" style="width:90px;">

</td>
    
<td>
<span [hidden]="student.isEditMode">{{student.lastName}}</span>
<input type="text"  [hidden]="!student.isEditMode" [(ngModel)]="student.lastName" style="width:90px;"/>
</td>

    
<td>
<span [hidden]="student.isEditMode">{{student.email}}</span>
<input type="text"  [hidden]="!student.isEditMode" [(ngModel)]="student.email" style="width:150px;"/>
</td>

    
<td>
<span [hidden]="student.isEditMode">{{student.phone}}</span>
<input type="text"  [hidden]="!student.isEditMode" [(ngModel)]="student.phone" style="width:90px;"/>
</td>


                        <td class="align-center">
<input type="checkbox" 
[checked]="student.active" (click)="updateActiveStatus(student)">
                        </td>
                      <!--  <td class="align-center">
<input type="checkbox" [checked]="student.registered" (click) = "updateRegisteredStatus(student)">
                        </td>                        -->
                        <td>

<span [hidden]="student.isEditMode"><a class="button primary"  (click)="setEditState(student,true)">Edit</a></span>
<span [hidden]="student.isEditMode"><a class="button danger" (click)="deleteStudent(student._id)">Delete</a></span>
<span [hidden]="!student.isEditMode"><a class="button warning"  (click) ="updateStudent(student)">Update</a></span>
<span [hidden]="!student.isEditMode"><a class="button info"  (click)="setEditState(student,false)">Cancel</a></span>

                        </td>
                        </tr>
                        </tbody>
                    </table>

<div data-role="dialog" id="dialog" class="padding20 dialog" data-close-button="true" style="width: auto; height: auto; visibility: hidden; left: 298px; top: 251px;">
            <h1>Add New Student</h1>

<form>

<div class='grid'>
            <div class="row">
                <div class="cell">
                    <label>First Name</label>
                    <div class="input-control text">
        <input placeholder="Student First Name..." type="text" name="firstName" 
        [(ngModel)]="newStudent.firstName"
        ></div>
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    <label>Last Name</label>
                    <div class="input-control text"><input placeholder="Student Last Name..." 
                    name="lastName" type="text" [(ngModel)]="newStudent.lastName" ></div>
                </div>
            </div>
            
            <div class="row">
                <div class="cell">
                    <label>Phone</label>
                    <div class="input-control text"><input placeholder="Student Phone..." type="text" 
                    name="phone"
                    [(ngModel)]="newStudent.phone"
                    ></div>
                </div>
            </div>
            
            <div class="row">
                <div class="cell">
                    <label>Email</label>
                    <div class="input-control text"><input placeholder="Student Email..." type="text"
                    name="email"
                    [(ngModel)]="newStudent.email"
                     ></div>
                </div>
            </div>

            <div class="row">
                
                <div class='cell2'>
                Is Student Active?&nbsp;&nbsp;
                </div>

                <div class="cell2">
                
                    <label class="switch">
                            <input type="checkbox" (change)="checkboxChange()" name="active" [(ngModel)]='StudentActiveFlag'
                          [attr.checked]="StudentActiveFlag ? true : null">
                          
                            <span  class='check'></span>
                            
                           

                            <span></span>
                    </label>
                    

                </div>
            </div>
            <div class='row'>
            <button class="button primary" (click)="addStudent(newStudent)">Submit</button>&nbsp;&nbsp;
            <button class="button warning" (click)="resetForm()">Reset</button>
            </div>

<!-- Modern switch -->


</div>

  


</form>

            
</div>