<div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
  <ul class="sidebar">
    <li>
      <a routerLink="/courses" routerLinkActive="active">
        <span class="mif-books icon"></span>
        <span class="title">Manage Courses</span>

      </a>
    </li>
    <li>
      <a routerLink="/semesters" routerLinkActive="active">
        <span class="mif-organization icon"></span>
        <span class="title">Manage Semesters</span>
      </a>
    </li>
    <li>
      <a routerLink="/students" routerLinkActive="active">
        <span class="mif-organization icon"></span>
        <span class="title">Manage Students</span>
      </a>
    </li>
  </ul>
</div>
